{% extends "@LOTicket/layout.twig" %}
{% set title_page = 'Réservation' %}

{% block head %}{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.standalone.css') }}">
{% endblock %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    {% block banner %}{{ parent() }}{% endblock %}

    <section class="upcoming-exibition-area section-gap">
        <div>
            <div class="d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Expositions en cours </h1>
                        <p>Ticket d'entrée pour visiteur individuel</p>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block javascripts %}{{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js')}}"></script>
	<script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yy",
                weekStart:1,
                startDate: "days",
                maxViewMode: 1,
                orientation: "top auto",
                multidate: false,
                daysOfWeekDisabled: "2",
                autoclose: true,
                todayHighlight: true,
                datesDisabled: ['01/05/2019', '01/11/2019', '25/12/2019'],
                toggleActive: true
            });
        });
	</script>
{% endblock %}
{% endblock %}