{% extends "@LOTicket/layout.twig" %}
{% if commande.day == true %}
    {% set msg_hr = '14h00' %}
{% else %}
    {% set msg_hr= '10h00' %}
{%  endif %}

{% if commande.reduc == true %}
    {% set msg_reduc = 'n\'oubliez pas d\'apporter votre carte d\'étudiant, militaire ou équivalent à l\'entrée du musée.' %}
{% else %}
    {% set msg_reduc = '' %}
{%  endif %}

{% if commande.day == true %}
    {% set msg_day = 'Tarif demie-journée' %}
{% else %}
    {% set msg_day = 'Tarif journée' %}
{%  endif %}
{% block body %}
    <h3>Bravo! Vous avez réservé!</h3>
    <p class="font20">Réservation réussie pour le {{ commande.bookingISO8601}} à partir de {{ msg_hr }}.</p>
    <p class="font20">Numéro de commande : ML{{ commande.bookingCode }}.</p>
    <p class="font20">{{ msg_day }}</p>
    {% for ticket in commande.tickets %}
        <ul class="tags col-sm" id="form">
            <li>{{ ticket.fName }}</li>
            <li>{{ ticket.lName }}</li>
            <li>{{ ticket.birthdayISO8601 }}</li>
            <li>{{ ticket.tarif }}€</li>
            <li>Tarif : {{ ticket.typetarif }}</li>
        </ul>
    {% endfor %}
    <p class="font20">{{ msg_reduc }}</p>
    <p class="font20">Nous vous remercions pour votre achat.</p>
    <img src="{{ absolute_url(asset('img/logo_email.png')) }}">
{% endblock %}