{% extends "@LOTicket/layout.twig" %}

{% if commande.day == true %}{% set msg_hr = '14h00' %}
{% else %}
    {% set msg_hr= '10h00' %}
{%  endif %}

{% if commande.reduc == true %}{% set msg_reduc = 'il sera nécessaire de présenter la carte d\'étudiant, militaire ou équivalent à l\'entrée du musée.' %}
{% else %}
    {% set msg_reduc = '' %}
{%  endif %}

{% if commande.day == true %}{% set msg_day = 'Tarif demie-journée' %}
{% else %}
    {% set msg_day = 'Tarif journée' %}
{%  endif %}

{% set totalStripe = commande.total * 100 %}

{% set title_page = 'Panier' %}

{% block head%}{{ parent() }}{% endblock %}

{% block body %}
 {% block header %}{{ parent() }}{% endblock %}
    {% block banner %}{{ parent() }}{% endblock %}

    <section class="upcoming-exibition-area section-gap">
            <div class="d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title">
                        <h4>Vous allez réserver pour le : {{ commande.bookingISO8601}} à partir de {{ msg_hr }} ({{ msg_day }})</h4>
                        <h4> Votre E-mail : {{ commande.email }}</h4><br/>
                        <a href="{{ path('lo_ticket_form') }}">Retour aux tickets</a>
                        <div class="mt-50">
                            {% for ticket in commande.tickets %}
                                <div class="d-inline-flex p-2 align-items-center flex-wrap">
                                    <div class="form d-flex p-2">
                                        <ul id="form">
                                            <li><h4>Ticket n° {{ loop.index }}</h4></li>
                                            <li><p>{{ ticket.fName }}</p></li>
                                            <li><p>{{ ticket.lName }}</p></li>
                                            <li><p>{{ ticket.birthdayISO8601 }}</p></li>
                                            <li><p>Tarif : {{ ticket.typetarif }} ({{ ticket.tarif }}€)</p></li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                            {{ msg_reduc }} <br>
                            <h3>Total</h3>
                            <h4>{{ commande.total }}€ - {{ commande.ticketNumber }} Ticket(s)</h4>
                            <form action="{{ path('lo_commande_recapitulatif', {'commandeId' :  commande.id}) }}" method="POST">
                                <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_PslFJhREczoU1acpGw8s6VKR"
                                        data-amount="{{ totalStripe }}"
                                        data-name="Louvre"
                                        data-description="Achat ticket(s)"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                        data-locale="auto"
                                        data-email="{{ commande.email }}"
                                        data-currency="eur">
                                </script>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

{% block javascripts %}{{ parent() }}
    <script>
        $("button").addClass("btn_cart").removeClass("stripe-button-el").append('<div class="fa fa-shopping-cart"></div>');
    </script>
{% endblock %}
{% endblock %}