{% extends "@LOTicket/layout.twig" %}
{% if commande.day == true %}{% set msg_hr = '14h00' %}
{% else %}
    {% set msg_hr= '10h00' %}
{%  endif %}

{% if commande.reduc == true %}{% set msg_reduc = 'n\'oubliez d\'apporter votre carte d\'étudiant, militaire ou équivalent à l\'entrée du musée.' %}
{% else %}
    {% set msg_reduc = '' %}
{%  endif %}

{% if commande.day == true %}{% set msg_day = 'Tarif demie-journée' %}
{% else %}
    {% set msg_day = 'Tarif journée' %}
{%  endif %}

    {% block head%}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('css/form.css')}}">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% endblock %}

{% block body %}
    <header id="header">{% block header %}
            <div class="container header-top">
                <div class="row">
                    <div class="col-6 top-head-left"></div>
                    <div class="col-6 top-head-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="{{ path('lo_commande_homepage') }}"><img src="{{asset ('img/logo2.png')}}" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="{{ path('lo_commande_homepage') }}">Home</a></li>
                            <li><a href="{{ path('lo_commande_form') }}">Ticket</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}</header>

    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Récapitulatif
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-exibition-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <h2>Nous vous remercions pour votre achat. Votre paiement à été effectué.<br/></h2>
                            <div class="text-center mt-50">
                                <p class="font20">Vos tickets ont été réservé pour le {{ commande.bookingISO8601}}.<br/>
                                    Vous pourrez entrer à partir de {{ msg_hr }}.<br/>
                                    Vos ticket(s) vous sont envoyé sur {{ commande.email }}.<br/>
                                    Votre numéro de commande : ML{{ commande.bookingCode }}.<br/>
                                    {{ msg_reduc }}</p>
                                <a href="{{ path('lo_commande_homepage') }}">Retour à l'accueil</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% block javascripts %}{{ parent() }}{% endblock %}
{% endblock %}