{% extends "@LOTicket/layout.twig" %}
{% if commande.day == true %}{% set msg_hr = '14h00' %}
{% else %}
    {% set msg_hr= '10h00' %}
{%  endif %}

{% if commande.reduc == true %}{% set msg_reduc = 'n\'oubliez d\'apporter votre carte d\'étudiant, militaire ou équivalent à l\'entrée du musée.' %}
{% else %}
    {% set msg_reduc = '' %}
{%  endif %}

{% if commande.day == true %}{% set msg_day = 'Tarif demie-journée' %}
{% else %}
    {% set msg_day = 'Tarif journée' %}
{%  endif %}

{% set title_page = 'Récapitulatif' %}

{% block head%}{{ parent() }}{% endblock %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    {% block banner %}{{ parent() }}{% endblock %}
    <section class="upcoming-exibition-area section-gap">
            <div class="d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title">
                        <h2>Nous vous remercions pour votre achat.</h2>
                        <h3>Votre paiement à bien été effectué.</h3>
                            <div class="mt-50">
                                <p class="font20">Vos tickets ont été réservés pour le <b>{{ commande.bookingISO8601}}</b>.</p>
                                <p class="font20">Vous pourrez entrer à partir de <b>{{ msg_hr }}</b>.</p>
                                <p class="font20">Vos tickets sont envoyés sur <b>{{ commande.email }}</b>.</p>
                                <p class="font20">Votre numéro de commande : <b>ML{{ commande.bookingCode }}</b>.</p>
                                <p class="font20">{{ msg_reduc }}</p>
                                <a href="{{ path('lo_commande_homepage') }}">Retour à l'accueil</a>
                            </div>
                    </div>
                </div>
            </div>
    </section>
{% block javascripts %}{{ parent() }}{% endblock %}
{% endblock %}