<h3>L'email où les tickets seront envoyés : {{ email }}</h3>
<h3>Nombre de tickets commandés : {{ ticket_number}}</h3>
<h3>Vous avez réserver vos tickets pour le : {{ booking |date('d-m-Y') }}</h3>
<h3>Code de réservation : ML{{ code }}</h3>

<ul>
    {% for first in ticket %}
        <li>Nom : {{ first.lname }}</li>
        <li>Prénom : {{ first.fname }}</li>
        <li>Date de naissance : {{ first.birthday |date('d-m-Y') }}</li>
        <li>{{ first.reduc }}</li>
        <li>{{ first.day }}</li>
    {% endfor %}
</ul>

<button>Payer</button>