<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Louvre</title>
</head>
<body>
<div class="container">
    <h1>Ticket</h1>
    <div class="row align-items-center">
        <form method="post">
            {% do form.booking.setRendered() %}
            {% do form.email.setRendered() %}
            {% do form.day.setRendered() %}
            {% do form.ticket_number.setRendered() %}
            {{ form_row(form.booking_code) }}
                        {% for ticket in form.tickets %}
                            <ul class="tags col-sm" id="form">
                                <br>
                                    {{ form_row(ticket.fname) }}
                                    {{ form_row(ticket.lname) }}
                                    {{ form_row(ticket.birthday) }}
                                    {{ form_row(ticket.country) }}
                                    {{ form_row(ticket.reduc) }}
                                    {{ form_row(form._token) }}
                                <hr>
                             </ul>
                        {% endfor %}
        <button type="submit" id="commande_save" name="commande[save]">Valider</button>
        </form>

        </div>
</div>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/ticket.js') }}"></script>
</body>
</html>