{% extends "@LOTicket/layout.twig" %}
{% block head%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.standalone.css') }}">
{% endblock %}
{% block body %}
    <header id="header">{% block header %}
            <div class="container header-top">
                <div class="row">
                    <div class="col-6 top-head-left"></div>
                    <div class="col-6 top-head-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="{{ path('lo_commande_homepage') }}"><img src="{{asset ('img/logo2.png')}}" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="{{ path('lo_commande_homepage') }}">Home</a></li>
                            <li><a href="{{ path('lo_commande_form') }}">Ticket</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}</header>

    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Achat Tickets
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-exibition-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <div class="text-center">
                            <h2>Sélection Ticket(s)</h2>
                            <form method="post">
                                {{ form_row(form.booking_code) }}
                                {% for ticket in form.tickets %}
                                    <div class="d-inline-flex p-2 align-items-center flex-wrap">
                                        <div class="form d-flex p-2" id="form">
                                            <ul>
                                                <h4>Ticket n° {{ loop.index }}</h4>
                                                <br>
                                                {{ form_row(ticket.fname) }}
                                                {{ form_row(ticket.lname) }}
                                                {{ form_row(ticket.birthday) }}
                                                {{ form_row(ticket.country) }}
                                                {{ form_row(ticket.reduc) }}
                                                {{ form_row(form._token) }}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="d-block p-2"><button class="btn_cart" type="submit" id="commande_save" name="commande[save]">Valider</button></div>
                            </form>
                            <a href="{{ path('lo_commande_form') }}">Retour à la commande</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                startDate: "01/01/1900",
                endDate: "days",
                startView: 3,
                maxViewMode: 3,
                multidate: false
            });
        });
    </script>
    <script>
        $('input').click(function () {
            $('#message_reduc').remove();
            if ($(this).prop('checked')) {
                $('#commande_save').before('<p id="message_reduc">Il sera nécessaire de présenter sa carte d\'étudiant, militaire ou équivalent à l\'entrée du musée.</p>')
                $('p').css("color", "red")
            }})</script>
    <script>$('button').append('<div class="fa fa-shopping-cart"></div>');</script>
{% endblock %}
{% endblock %}