{% extends "@LOTicket/layout.twig" %}
{% set title_page = 'Sélection Tickets' %}

{% block head%}{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.standalone.css') }}">
{% endblock %}

{% block body %}
{% block header %}{{ parent() }}{% endblock %}
    {% block banner %}{{ parent() }}{% endblock %}

    <section class="upcoming-exibition-area section-gap">
        <div>
            <div class="d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <div class="text-center">
                            <h2>Sélection Ticket(s)</h2>
                            <form method="post">
                                {{ form_row(form.booking_code) }}
                                {% for ticket in form.tickets %}
                                    <div class="d-inline-flex p-2 align-items-center flex-wrap">
                                        <div class="form d-flex p-2" id="form">
                                            <ul>
                                                <h4>Ticket n° {{ loop.index }}</h4>
                                                <br>
                                                {{ form_row(ticket.fname) }}
                                                {{ form_row(ticket.lname) }}
                                                {{ form_row(ticket.birthday) }}
                                                {{ form_row(ticket.country) }}
                                                {{ form_row(ticket.reduc) }}
                                                {{ form_row(form._token) }}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="d-block p-2"><button class="btn_cart" type="submit" id="commande_save" name="commande[save]">Valider</button></div>
                            </form>
                            <a href="{{ path('lo_commande_form') }}">Retour à la commande</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block javascripts %}{{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script>$('button').append('<div class="fa fa-shopping-cart"></div>');</script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                startDate: "01/01/1900",
                endDate: "days",
                startView: 3,
                maxViewMode: 3,
                multidate: false
            });
        });
    </script>
{% endblock %}
{% endblock %}